<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tacademy.gameviewproject"
    xmlns:tools="http://schemas.android.com/tools">

    <!--인터넷을 사용하기 위한 퍼미션-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--카메라를 사용하기위한 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".main.review.CameraApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".main.MainFragmentActivity"
            android:label="@string/title_activity_main_fragment"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".intro.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".sign.SignUpActivity">

        </activity>
        <activity
            android:name=".main.review.ReViewPostActivity"
            android:label="@string/review_make_title"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>